<div class="titlebar">
  <div class="dots">
    <span class="dot r"></span><span class="dot y"></span><span class="dot g"></span>
  </div>
  <div class="titlebar-title">{{ title() }}</div>
  <div class="locale-switch">
    @for (locale of locales; track locale) {
      <button
        type="button"
        class="locale-option"
        [class.active]="locale === localeService.activeLocale()"
        [title]="'locale.' + locale | transloco"
        (click)="localeService.setLocale(locale)"
      >
        {{ locale.toUpperCase() }}
      </button>
    }
  </div>
</div>
